#potatoes-list {
  margin-top: 10vh;
}
#potatoes-list h2 {
  text-align: center;
  margin-bottom: 4vh;
}
.potatoes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.potato-card {
  margin-bottom: 1rem;
  width: 100%;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;

  border-radius: 5px; /* 5px rounded corners */
  color: darken($comp-blue, 37%);
  background: $hero-background;
}

/* On mouse-over, add a deeper shadow */
.potato-card:hover,
.potato-card:focus {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-container {
  //padding: 10px 16px;
  // padding: 12px 13px;
  padding: 0.8rem;
  //background: $hero-background;
  border-radius: 5px;
}

.potato-card img {
  width: 100%;
  max-width: 100%;

  height: auto;
  // display: block;
  margin-left: auto;
  margin-right: auto;
}
.potato-card h3 {
  text-align: center;
  margin-top: 2rem;
  word-wrap: break-word;
}
