.btn {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2rem;
  // font-family: "Pacifico", cursive;
  font-family: "Raleway", sans-serif;

  font-size: 1.2rem;
  color: white;
  // letter-spacing: 0.2rem;
  background: darken($comp-blue, 20%);
  border: 2px solid $btn-border-color;
  border-radius: 10px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  &:hover,
  &:focus {
    background-color: white;
    color: $nav-background;
    border: 2px solid $nav-background;
  }
  &-close {
    width: 40%;
    font-family: "Raleway", sans-serif;
    margin-top: 0.7rem;
    // margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}
