html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  line-height: 1.5rem;
  width: 100%;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: $hero-background;
  background-image: url("./assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*************    Layout    ***********************************/
.anchor {
  display: block;
  height: 150px; /*same height as header*/
  margin-top: -150px; /*same height as header*/
  visibility: hidden;
}
#header {
  background: $nav-background;
  text-align: center;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
}

.main {
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 10vh;
  box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);

  background-color: rgba(255, 255, 255, 0.9);
  transition: margin-top 250ms ease-in-out;
}
.main h2,
.main p {
  color: darken($comp-blue, 37%);
}
.main h2 {
  line-height: 6vh;
}
.hero-title {
  font-size: 1.5rem;
  text-align: center;
  // margin-bottom: 1vh;
}
#hero {
  margin-top: 5vh;
  background-color: $hero-background;
  padding: 5vh;
  text-align: center;
}

#hero h2 {
  margin-bottom: 5vh;
  line-height: 6vh;
}
//email input
#email {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  // background-clip: border-box;
  border: 0.1rem solid lighten($comp-blue, 30%);
  border-radius: 0.25rem;
  &:focus {
    outline: none;
    border-color: $comp-blue;
    box-shadow: 1px 1px 20px rgba(88, 201, 249, 0.8);
    &::placeholder {
      color: transparent;
    }
  }
  &::placeholder {
    text-align: center;
  }
}

#description {
  margin-top: 10vh;
  padding: 5vh;
}
.promotion {
  margin-bottom: 10vh;
}
.promotion h2 {
  text-align: center;
  margin-bottom: 5vh;
  line-height: 1.5em !important;
  padding-top: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  background-color: darken($nav-background, 8%);
  color: white;
  flex-wrap: wrap;
}
.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a {
    color: white;
  }
  p {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  .logo h1 img {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .potato-card {
    width: 30%;
  }
  #hero {
    form {
      max-width: 50%;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 800px) {
  .main {
    margin-top: 40vh;

    width: 85%;
    margin-bottom: 10vh;
  }
  #hero {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-title {
    font-size: 2rem;
  }
  #description {
    // width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .promotion {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    margin-top: 10vh;
  }

  #description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // border: 1px solid black;
    padding: 0;
    margin-top: 10vh;
    .promotion {
      // border: 1px solid black;
      margin-bottom: 0;
      padding: 1rem;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      h2 {
        margin-bottom: 1rem;
        line-height: 1.5vh;
      }
      #hero h2 {
        line-height: 1.5vh;
      }
      p {
        width: 100%;
      }
    }
  }
}
/************responsive adaptation to responsive menu********************************/
.responsive-main {
  transition: margin-top 400ms ease-in-out;
  margin-top: 40vh;
}
.responsive-anchor {
  height: 370px; /*same height as header*/
  margin-top: -370px; /*same height as header*/
}
