/**image color palet*/
$green: #58b904;
$blue: #58caf9;
$pink: #e9d3aa;
$brown: #815207;

$comp-blue: #1633ba;
$comp-brown: #6e2008;

$saturate-pink: #f0e2c8;

$btn-border-color: hsl(210, 61%, 58%);

$nav-background: darken($comp-blue, 25%) /*#f30909*/;
$hero-background: lighten($green, 40%) /*rgb(199, 243, 243)*/;
$nav-link-color: lighten($green, 30%) /*rgb(94, 236, 28)*/;
